<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title></title>

</head>
<body>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

	
<div class="container">
<br>  <p class="text-center">BOT DETECTOR REGISTRATION </p>
<hr>


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<h4 class="card-title mt-2">Sign up</h4>
</header>
<article class="card-body">
<form action="" method="POST" >
	<div class="form-row">
		<div class="col form-group">
            
			<label for="first_name">First Name </label>
			  
		  	<input type="text" class="form-control" name="First" id="first_name" required>
		</div> 
		<div class="col form-group">
			<label for="t">Last name</label>
		  	<input id="t" type="text" class="form-control"name="Last" placeholder=" ">
		</div> 
	</div> <!-- form-row end.// -->
	<!--<div class="form-group">
		<label for="email_t">Email address</label>
		<input  id="email_t" type="email" class="form-control" placeholder="">
		<small class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>  form-group end.// -->
	<!--<div class="form-group">
			<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="gender" value="option1">
		  <span class="form-check-label"> Male </span>
		</label>
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="gender" value="option2">
		  <span class="form-check-label"> Female</span>
		</label>
	</div>  form-group end.// -->
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label for="ty">City</label>
		  <input id="ty" type="text" class="form-control" name='City'>
		</div> <!-- form-group end.// -->
		<div class="form-group col-md-6">
		  <label for="gp">Country</label>
		  <input id="gp" type="text" class="form-control" name='State'>
		</div> <!-- form-group end.// -->
	</div> <!-- form-row.// -->
	<div class="form-group">
		<label for="passo">Zip</label>
	    <input id="passo" class="form-control" name='zipi'>
	</div> <!-- form-group end.// -->  
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" > Register  </button>
    </div> <!-- form-group// -->      
    <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
</form>

</article> <!-- card-body end .// -->

</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div> 
<!--container end.//-->

<br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h3 class="text-white mt-3">Journey Begins with passion</h3>
<p class="h5 text-white">Registration form  <br> for Blinds</p>   <br>

</div>
<br><br>
</article>
</body>
</html>